<p id="notice"><%= notice %></p>

<h1>Lista de Comentarios</h1>

<table>
  <thead>
    <tr>
      <th>Autor</th>
      <th>Titulo</th>
      <th>Fecha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comentarios.each do |comentario| %>
      <tr>
        <td><%= comentario.autor %></td>
        <td><%= comentario.titulo %></td>
        <td><%= comentario.fecha %></td>
          <td class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default"><%= link_to 'Mostrar', comentario %> </button>
            <button type="button" class="btn btn-default"><%= link_to 'Editar', edit_comentario_path(comentario) %> </button>
            <button type="button" class="btn btn-default"><%= link_to 'Destruir', comentario, method: :delete, data: { confirm: 'Estas seguro?' } %></button>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Comentario', new_comentario_path %>


