<p id="notice"><%= notice %></p>

<p>
  <strong>Autor:</strong>
  <%= @comentario.autor %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @comentario.titulo %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @comentario.fecha %>
</p>

<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
<li class="active"><%= link_to 'Editar', edit_comentario_path(@comentario) %></li>
<li class="active"><%= link_to 'Atras', @comentario.articulo %></li>

</ul>
</nav>
  
