<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>

<%= yield %>

<center>Creado Por <a href="https://www.linkedin.com/in/andres-borjas-4aa59888?trk=hp-identity-name"><b>Andres Borjas</b></a></center>
</body>
</html>
