<h1>Editar Articulo</h1>

<%= render 'form' %>


<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
<li class="active"><%= link_to 'Mostrar', @articulo %></li>
<li class="active"><%= link_to 'Atras', articulos_path %></li>
    </ul>
</nav>
