<% unless notice.blank? %>
<div class="alert alert-success" role="alert">
    <p id="notice"><%= notice %></p>
</div>
<% end %>
<p>
  <strong>Titulo:</strong>
  <%= @articulo.titulo %>
</p>

<p>
  <strong>Cuerpo:</strong>
  <%= @articulo.cuerpo %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @articulo.fecha %>
</p>

<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
<li class="active"><%= link_to 'Editar', edit_articulo_path(@articulo) %> </li>
<li class="active"><%= link_to 'Atras', articulos_path %> </li>
<li class="active"><%= link_to 'Nuevo Comentario', new_comentario_path(articulo_id: @articulo.id) %></li>

    </ul>
</nav>


<h1 id="tit">Lista de Comentarios</h1>

<ul class= 'media-list'>
  

  
    <% @articulo.comentarios.each do |comentario| %>
           <li class= 'media'> <h3>Autor<h3> </li>
            <ul> <li class= 'media'><%= comentario.autor %></li></ul> 
           <li class= 'media'> <h3>Titulo<h3> </li>
            <ul><li class= 'media'><%= comentario.titulo %></li></ul>
           <li class= 'media'> <h3>Fecha<h3> </li>
            <ul><li class= 'media'><%= comentario.fecha %></td></li></ul>
              
              <br>
        <td><%= link_to 'Mostrar', comentario %></td>
        <td><%= link_to 'Editar', edit_comentario_path(comentario) %></td>
        <td><%= link_to 'Destruir', comentario, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
    <% end %>
    
  
</ul>



<br>


